@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/* Global */

* {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Elements */

hr {
  margin-bottom: 15px;
}

p {
  color: #9a9a9a;
}

section {
  margin: 5px 15px 0;
  border-top: 1px solid #2d3944;
  border-bottom: 1px solid #2d3944;
}

section:first-child {
  border-top: 0;
}

section:last-child {
  border-bottom: 0;
}

/* Layout */

.row {
  display: flex;
  justify-content: flex-start;
}

/* Header */

header {
  background: #2d3944;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  margin: 0;
  padding: 30px 10px;
  font-size: 1.2em;
}

/* Signup */

.signup {
  padding: 10px 0;
  text-align: center;
  border-bottom: 3px solid #2d3944;
}

.signup h2 {
  font-size: 1.1em;
}

.signup p {
  font-size: 0.9em;
}

/* Forms */

form {
  padding-top: 15px;
  font-size: 0.9em;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset > p {
  margin-top: 0;
}

legend {
  margin-left: 0;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

label {
  display: block;
  padding-bottom: 10px;
  color: #999;
  font-size: 0.9em;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  background: #eee;
  border: 0;
  border-radius: 6px;
  font-size: 1em;
}

input:focus {
  border: 2px solid black;
}

input[type="checkbox"],
input[type="radio"] {
  width: initial;
  border: 0;
}

.custom-checkbox,
.custom-radio {
  opacity: 0;
  position: absolute;
}

.custom-checkbox,
.custom-checkbox-label,
.custom-radio,
.custom-radio-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.custom-checkbox-label,
.custom-radio-label {
  position: relative;;
}

.custom-checkbox + .custom-checkbox-label:before,
.custom-radio + .custom-radio-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
}

.custom-checkbox + .custom-checkbox-label:before {
  border-radius: 0;
}

.custom-radio:checked + .custom-radio-label:before {
  background: #2d3944;
  border-color: #2d3944;
  box-shadow: inset 0 0 0 3px #fff;
}

.custom-checkbox:checked + .custom-checkbox-label:before {
  content: '\f00c';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2d3944;
  color: #2d3944;
  font-family: 'FontAwesome';
}

.custom-checkbox-label {
  display: flex;
}

input[name="zip-code"] {
  width: 50%;
}

button {
  border-radius: 6px;
  border: 0;
  background: #53bbb4;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 1.2em;
}

textarea {
  border: 0;
  border-radius: 6px;
  width: 100%;
  height: 100px;
  background: #eee;
  margin-bottom: 20px;
  resize: none;
}

.form-select {
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 15px;
  background: #eee;
}

.form-select select {
  background: transparent;
  border: 0;
  font-size: 0.9em;
  color: #bbb;
  width: 100%;
}

/* Footer */

footer {
  padding: 15px 0;
  text-align: center;
  font-size: 0.9em;
}

footer p {
  color: #bbb;
}
